<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p><a href="#dashboard" class="nv--link">Dashboard</a> | Bienvenido usuario: <b></b></p>
		</div>
		<div class="col-md-6 text-right">
			<a href="#" id="cerrarSesion"> Cerrar sesión</a>
		</div>
	</div>
	<div class="row" style="margin-bottom: 1rem">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary nuevo_usuario">+ Usuario</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="4">No existen registros</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<form class="col-md-6" style="display: none;">
			<input type="hidden" name="id">
			<input type="text" name="nombre" placeholder="Nombre" class="form-control">
			<br>
			<input type="email" name="email" placeholder="Email" class="form-control">
			<br>
			<input type="password" name="clave" placeholder="Clave" class="form-control">
			<br>
			<button class="btn btn-success guardar_usuario" type="button">Guardar</button>
			<button class="btn btn-default" type="button">Cancelar</button>
			<button class="btn btn-danger eliminar_usuario" type="button">Eliminar</button>
		</form>
		<div class="col-md-3"></div>
	</div>
</div>