<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<form id="login" style="margin-top: 2rem" class="col-md-8">
			<h2>Login | Sistema</h2>
			<input type="text" name="user" placeholder="Usuario" class="form-control" value="alex">
			<br>
			<input type="password" name="password" placeholder="Clave" class="form-control" value="123">
			<br>
			<button class="btn btn-success">Ingresar</button>
		</form>
		<div class="col-md-2"></div>
	</div>
</div>