<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Dashboard</h2>
		</div>
		<div class="col-md-6 text-right">
			<a href="#" id="cerrarSesion"> Cerrar sesión</a>
		</div>
	</div>
	<div class="nav--menu" style="margin-top: 2rem">
		<a href="#usuarios" class="nv--link btn btn-primary">Usuarios</a>
		<a href="#clientes" class="nv--link btn btn-primary">Clientes</a>
		<a href="#productos" class="nv--link btn btn-primary">Productos</a>
	</div>
</div>