<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h4>Estado no encontrado - 404</h4>
		</div>
		<div class="col-md-6 text-right">
			<a href="#dashboard" class="nv--link">Volver</a>
		</div>
	</div>
</div>